body {
  position: "absolute";
}

.Contact-nav-bar {
  display: flex;
  height: 10vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 9999;
  .Contact-nav-bar-left {
    color: rgb(255, 255, 255);
    flex-grow: 2;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 0 0 0 10em;
    h3 {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      span {
        font-size: 13px;
        margin-left: 5px;
      }
    }
    .contact-title-link {
      text-decoration: none;
      color: white;
    }
  }
  .Contact-nav-bar-right {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 0 8em 0 0;
    .Nav-bar-links {
      text-decoration: none;
      color: rgb(28, 28, 28);
      margin: 0 0.5em;
      font-size: 12px;
      font-weight: 400;
      position: relative;
      position: relative;
      letter-spacing: 0.08em;
    }
    .gamme-drop-down-container {
      position: relative;
      height: 4.5vh;
      margin-top: 0.6em;
      img {
        height: 10px;
        width: 10px;
        margin-left: 0.5em;
        transition: 0.2s ease-in-out;
        filter: invert(0.8);
      }
      .gamme-drop-down {
        position: absolute;
        list-style-type: none;
        padding: 0;
        top: 35px;
        width: 13vw;
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        overflow: hidden;
        display: none;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.21);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.21);
        li {
          color: rgb(28, 28, 28);
          font-family: "Poppins";
          font-size: 13px;
          padding: 1em 2em;
        }
        li:hover {
          transition: 0.1s ease-in-out;
          background-color: rgb(160, 160, 160);
          color: white;
        }
        .gamme-link {
          text-decoration: none;
          color: black;
        }
      }
    }
    .gamme-drop-down-container:hover {
      img {
        transition: 0.3s ease-in-out;
        transform: rotate(-180deg);
      }
      .gamme-drop-down {
        transition: 0.1s ease-in-out;
        display: block;
      }
    }
    .Nav-bar-search-button {
      background-color: transparent;
      border-radius: 75px;
      height: 30px;
      width: 30px;
      border: none;
      transition: 0.1s ease-in-out;
      img {
        width: 0.9em;
        height: 0.9em;
        filter: invert(0.6);
      }
    }
    .Nav-bar-search-button:hover {
      transition: 0.2s ease-in-out;
      border: 1px solid rgb(72, 72, 72);
      img {
        transition: 0.2s ease-in-out;
        filter: invert(0.8);
      }
    }
    .Nav-bar-links:hover::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      min-width: 25px;
      margin: auto;
      border-bottom: 2px solid #373737;
      animation: slide 0.15s;
    }
  }
}

.contact-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  .contact-page-left {
    color: rgb(255, 255, 255);
    width: 41%;
    height: 100%;
    background-color: #e98c56;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .contact-page-left-info {
      width: 44%;
      min-width: 200px;
      margin: 0.5em auto;
      .contact-info-title {
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
      .contact-info-subtitle {
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        margin: 0.3em 0;
      }
      .contact-info-type {
        display: flex;
        align-items: center;
        padding: 1.2em 0 0.3em 0;
        border-bottom: 1px solid rgb(255, 255, 255);
        img {
          height: 27px;
          width: 27px;
        }
        p {
          font-weight: 600;
          margin-left: 0.8em;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
        }
        .info-tahiti-number {
          margin: 0 0.2em;
        }
      }
    }
    .contact-page-left-illustration {
      width: 90%;
      height: 40%;
    }
  }

  .contact-page-right {
    width: 20%;
    min-width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    .formulaire-header {
      text-align: center;
      width: 95%;
      margin: 1.5em auto;
      .formulaire-header-title {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 30px;
      }
      .formulaire-header-subtitle {
        color: #3a3a3a;
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
      }
    }
    .formulaire-content {
      width: 100%;
      border-top: 1px solid #e98c56;
      padding: 0.5em 0;
      display: flex;
      flex-direction: column;
      label {
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        font-weight: 600;
        margin-top: 0.5em;
      }
      input {
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
      }
      select {
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
      }
      .formulaire-input {
        height: 35px;
        width: 97%;
        border-radius: 4px;
        border: none;
        background-color: #f5f6f7;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
        padding: 0 1em;
        font-size: 13px;
      }
      input:focus {
        outline: none;
      }
      .formulaire-name-section {
        display: flex;
        .first-name-input {
          margin-right: 0.7em;
        }
      }
      .product-selection {
        width: 58%;
        display: flex;
        justify-content: space-between;
        .product-selection-item {
          label {
            margin-left: 1em;
            color: #a4a4a4;
            font-weight: 600;
            font-family: "Poppins";
          }
        }
        input[type="checkbox"]:checked + label {
          color: #cf7916;
        }
      }
      .formulaire-button {
        width: 35%;
        height: 35px;
        margin: 1.5em 0;
        align-self: center;
        border: none;
        background-color: #f48f1c;
        border-radius: 3px;
        transition: 0.1s ease-in-out;
        img {
          height: 15px;
          width: 15px;
        }
      }
      .formulaire-button:hover {
        background-color: rgb(74, 174, 89);
        transition: 0.1s ease-in-out;
      }
    }
  }
}
