.landing-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  .landing-page--background {
    .landing-background-image {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
    }
  }
  .landing-overlay {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
  }
}
.landing-page--presentation {
  color: white;
  width: 43vw;
  height: 98vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 9em;
  .landing-title {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0.2em 0;
  }
  .landing-paragraph {
    width: 85%;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
  }
  .landing-contact-button {
    width: 32%;
    min-width: 200px;
    height: 6%;
    border-radius: 50px;
    background-color: #D6D6D6;
    opacity: 90%;
    margin-top: 3em;
    cursor: pointer;
    p {
      font-size: 12px;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
    }
  }
  .landing-contact-button:hover p {
    color: #DA811A;
  }
  .landing-contact-button:focus {
    outline: none;
  }
}

.presentation-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  .presentation-page--details {
    width: 51%;
    .presentation-header {
      display: flex;
      margin-top: 1.5em;
      .page-line {
        margin-top: 1.5em;
        width: 10vw;
        height: 2px; 
        background-color: #757575;
      }
      .header-info {
        margin-left: 1em;
        p {
          color: #DA811A;
          font-family: 'Nunito', sans-serif;
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 0.5em;
        }
        h2 {
          color: #474747;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          font-size: 35px;
          margin: 0 0;
        }
      }
    }
    .presentation-content {
      padding: 2.5em 11vw;
      width: 68%;
      height: 70%;
      h5 {
        color: #C0C0C0;
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        margin-bottom: 0;
      }
      h3 {
        color: #252525;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 0.6em;
      }
      h3::after {
        content: "";
        display: block;
        width: 20px;
        margin: 0.2em 0;
        border: 1px solid#DA811A; ;
      }
      .top-section-title {
        margin-top: 0.5em;
      }
      p {
        color: #7E7E7E;
        font-family: 'Noto Sans', sans-serif;
        font-size: 13px;
      }
      .presentation-product-button {
        background-color: #EBEBEB;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 140px;
        transition: 0.1s ease-in-out;
        margin-top: 2em;
        p {
          color: #757575;
          font-family: 'Nunito', sans-serif;
          font-size: 13px;
          font-weight: 600;
        }
      }
      .presentation-product-button:hover {
        background-color: #DA811A;
        transition: 0.1s ease-in-out;
        p {
          color: white;
        }
      }
      .presentation-product-button:focus {
        outline: none;
      }
    }
  }
  .presentation-page--gallery {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .slider-gallery {
      height: 96vh;
      width: 43vw;
      position: relative;
      border-radius: 0 0 7px 7px;
      overflow: hidden;
      .slides  {
        width: 0vw;
        height: 96vh;
        object-fit: cover;
      }
      .show {
        width: 43vw;
        height: 96vh;
      }
      .slider-button-section {
        position: absolute;
        bottom: 0;
        right: 0;
        button {
          height: 75px;
          width: 75px;
          border: none;
          opacity: 0.9;
        }
        .prev {
          background-color: #EBEBEB;
          transition: 0.1s ease-in-out;
        }
        .next {
          background-color: #5A5A5A;
          transition: 0.1s ease-in-out;
        }
        .next:hover {
          background-color: rgb(41, 41, 41);
          transition: 0.1s ease-in-out;
        }
        .prev:hover {
          background-color: rgb(171, 171, 171);
          transition: 0.1s ease-in-out;
        }
        button:focus {
          outline: none;
        }
        img  {
          height: 20px;
          width: 14px;
        }
      }
    }
    .button-section {
      height: 96vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 6vw;
      .selection-dot {
        background-color: rgb(206, 206, 206);
        height: 9px;
        width: 9px;
        margin: 0.4em 0;
        border-radius: 50px;
        transition: 0.1s ease-in-out;
        cursor: pointer;
      }
      .selection-dot:hover {
        background-color: rgb(126, 126, 126);
        transition: 0.1s ease-in-out;
      }
      .active {
        background-color: #DA811A;
        width: 12px;
        height: 12px;
      }
    }
  }
}

.process-presentation-stripe {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100vw;
  background-color: rgb(223, 128, 19);
  .process {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .process-step {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .process-step-icon {
        width: 50px;
        height: 50px;
      }
      .process-step-title {
        color: white;
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        font-size: 16px;
        margin-bottom: 0.8em;
      }
      .process-step-title::after {
        content: '';
        display: block;
        border-bottom: 2px solid #4F3838;
        width: 20%;
        margin: auto;
        margin-top: 0.4em;
      }
      .process-step-description {
        color: white;
        margin: 0;
        font-family: 'Noto-sans', sans-serif;
        font-size: 14px;
        width: 12vw;
      }
    }
  }
}


.product-page {
  width: 100vw;
  height: 100vh;
  .product-page-header {
    display: flex;
    width: 100%;
    margin-top: 1.7em;
    .product-page-line {
      margin-top: 1.5em;
      width: 12.5vw;
      height: 2px; 
      background-color: #757575;
    }
    .product-header-info {
      margin-left: 1em;
      p {
        color: #DA811A;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0.5em;
      }
      h2 {
        color: #474747;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 35px;
        margin: 0 0;
      }
    }
  }
  .product-page-content {
    display: flex;
    width: 72.5%;
    margin: auto;
    justify-content: space-between;
    margin-top: 3em;
    .product {
      border: 1px solid #E4E4E4;
      width: 29%;
      height: 44vh;
      overflow: hidden;
      border-radius: 5px;
      .product-content-section {
        height: 87.5%;
        position: relative;
        overflow: hidden;
        img {
          height: 35vh;
          width: 100%;
          object-fit: cover;
        }
        .product-info {
          position: absolute;
          bottom: -50px;
          width: 100%;
          background-color: white;
          transition-duration: 0.5s;
          header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 2em;
            h4 {
              color: #292929;
              font-family: 'Raleway', sans-serif;
              font-size: 20px;
              font-weight: 500;
              margin: 0.5em 0;
            }
            h4::after {
              content: '';
              display: block;
              border-bottom: 2px solid rgb(228, 135, 29);
              width: 35px;
              margin-top: 0.3em;
            }
            p {
              color: #A7A5A5;
              width: 40%;
              text-align: right;
              font-family: 'Noto-sans', sans-serif;
              font-size: 13px;
            }
          }
          .product-type-section {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5em;
            .product-type-button {
              background-color: #EBEBEB;
              width: 37%;
              margin: 0 0.8em;
              border: none;
              border-radius: 4px;
              transition-duration: 0.2s;
              cursor: pointer;
              p {
                font-family: 'Noto-sans', sans-serif;
                font-size: 13px;
                color: #757575;
              }
            }
            .product-type-button:hover {
              background-color: #DA811A;
              transition-duration: 0.2s;
              p {
                color: white
              }
            }
          }
        }
      }
      .product-moreinfo-section {
        border-top: 1px solid #E4E4E4;
        display: flex;
        width: 100%;
        height: 12.5%;
        .moreinfo-details {
          display: flex;
          align-items: center;
          width: 85%;
          padding-left: 1.8em;
          img {
            width: 17px;
            height: 17px;
          }
          p {
            margin-left: 1em;
            color: #A7A5A5;
            font-family: "Noto-sans", sans-serif;
            font-size: 14px;
          }
        }
        .moreinfo-button {
          width: 15%;
          height: 100%;
          background-color: rgb(228, 135, 29);
          border: none;
          img {
            height: 11px;
            width: 11px;
          }
        }
      }
    }
    .product:hover .product-info {
      transform: translateY(-65px);
      transition-duration: 0.5s;
    }
  }
}

@keyframes slide {
  0% { left: -100%; width: 0%;}
  100% { left: 100%; width: 100%;}
}

