.landing-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  .landing-page--background {
    .landing-background-image {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
    }
  }
  .landing-overlay {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
  }
}
.landing-page--presentation {
  color: white;
  width: 43vw;
  height: 96vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 9em;
  .landing-title {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0.2em 0;
  }
  .landing-paragraph {
    width: 85%;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
  }
  .landing-contact-button {
    width: 34%;
    min-width: 150px;
    height: 6%;
    border-radius: 50px;
    background-color: #D6D6D6;
    opacity: 90%;
    margin-top: 3em;
    cursor: pointer;
    p {
      font-size: 12px;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
    }
  }
}

.presentation-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  .presentation-page--details {
    width: 51%;
    .presentation-header {
      display: flex;
      margin-top: 1.5em;
      .page-line {
        margin-top: 1.5em;
        width: 10vw;
        height: 2px; 
        background-color: #757575;
      }
      .header-info {
        margin-left: 1em;
        p {
          color: #DA811A;
          font-family: 'Nunito', sans-serif;
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 0.5em;
        }
        h2 {
          color: #474747;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          font-size: 35px;
          margin: 0 0;
        }
      }
    }
  }
  .presentation-page--gallery {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    img {
      height: 90vh;
      width: 40vw;
      object-fit: cover;
    }
  }
}