.Product-nav-bar {
  display: flex;
  height: 10vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 9999;
  .Product-nav-bar-left {
    color: rgb(255, 255, 255);
    flex-grow: 2;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 0 0 0 10em;
    h3 {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      span {
        font-size: 13px;
        margin-left: 5px;
      }
    }
    .Product-title-link {
      text-decoration: none;
      color: white;
    }
  }
  .Product-nav-bar-right {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 0 8em 0 0;
    .Nav-bar-links {
      text-decoration: none;
      color: rgb(28, 28, 28);
      margin: 0 0.5em;
      font-size: 12px;
      font-weight: 400;
      position: relative;
      position: relative;
      letter-spacing: 0.08em;
    }
    .gamme-drop-down-container {
      position: relative;
      height: 4.5vh;
      margin-top: 0.6em;
      img {
        height: 10px;
        width: 10px;
        margin-left: 0.5em;
        transition: 0.2s ease-in-out;
        filter: invert(0.8);
      }
      .gamme-drop-down {
        position: absolute;
        list-style-type: none;
        padding: 0;
        top: 35px;
        width: 13vw;
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        overflow: hidden;
        display: none;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.21);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.21);
        li {
          color: rgb(28, 28, 28);
          font-family: "Poppins";
          font-size: 13px;
          padding: 1em 2em;
        }
        li:hover {
          transition: 0.1s ease-in-out;
          background-color: rgb(160, 160, 160);
          color: white;
        }
        .gamme-link {
          text-decoration: none;
          color: black;
        }
      }
    }
    .gamme-drop-down-container:hover {
      img {
        transition: 0.3s ease-in-out;
        transform: rotate(-180deg);
      }
      .gamme-drop-down {
        transition: 0.1s ease-in-out;
        display: block;
      }
    }
    .Nav-bar-search-button {
      background-color: transparent;
      border-radius: 75px;
      height: 30px;
      width: 30px;
      border: none;
      transition: 0.1s ease-in-out;
      img {
        width: 0.9em;
        height: 0.9em;
        filter: invert(0.6);
      }
    }
    .Nav-bar-search-button:hover {
      transition: 0.2s ease-in-out;
      border: 1px solid rgb(72, 72, 72);
      img {
        transition: 0.2s ease-in-out;
        filter: invert(0.8);
      }
    }
    .Nav-bar-links:hover::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      min-width: 25px;
      margin: auto;
      border-bottom: 2px solid #373737;
      animation: slide 0.15s;
    }
  }
}

.product-presentation-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  .product-page-left {
    width: 41%;
    height: 100%;
    .carousel {
      height: 100vh;
      width: 41vw;
      overflow: hidden;
      position: relative;
      .carousel-caption {
        position: absolute;
        height: 100vh;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: 0.35);
        h3 {
          font-size: 32px;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
        }
        p {
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
        }
      }
      .d-block {
        height: 100vh;
      }
      .carousel-control-next {
        z-index: 9999;
        .carousel-control-next-icon {
          height: 23px;
          width: 23px;
        }
      }
      .carousel-control-prev {
        z-index: 9999;
        .carousel-control-prev-icon {
          height: 23px;
          width: 23px;
        }
      }
    }
  }
  .product-page-right {
    width: 45%;
    height: 70%;
    margin: auto;
    .product-page-right-header {
      width: 80%;
      display: flex;
      justify-content: space-between;
      margin: 0 0 2em 0;
      .right-header-info {
        h3 {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 30px;
        }
        p {
          font-family: "Montserrat", sans-serif;
          font-size: 13px;
          color: #e48148;
          margin: 0 0 0.3em 0;
        }
      }
      button {
        height: 38px;
        width: 110px;
        background-color: transparent;
        border: 1px solid lightgrey;
        border-radius: 2px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p {
          color: #757575;
          font-family: "Poppins", sans-serif;
          font-size: 13px;
        }
        img {
          width: 15px;
          height: 15px;
        }
      }
      button:focus {
        outline: none;
      }
    }
    .product-page-right-content {
      .content-line {
        margin: 0 0 1.5em 0;
      }
      .product-composition {
        width: 55%;
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        span {
          font-weight: 500;
          font-size: 14px;
        }
      }
      .product-type-section {
        h5 {
          font-family: "Poppins", sans-serif;
          font-size: 15px;
          font-weight: 400;
          width: 10%;
        }
        h5::after {
          content: "";
          display: block;
          border-bottom: 1px solid black;
          width: 20px;
          margin: 0.4em 0;
        }
        .product-type-selection {
          width: 50%;
          display: flex;
          justify-content: space-between;
          margin-top: 1em;
          .product-type-button {
            height: 3em;
            width: 150px;
            border-radius: 4px;
            background-color: #ebebeb;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            p {
              color: #757575;
              font-family: "Poppins", sans-serif;
              font-size: 13px;
            }
          }
          .product-type-active {
            background-color: #e48148;
            outline: none;
            -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
            p {
              color: white;
            }
          }
        }
      }
      .product-taste-section {
        h5 {
          font-family: "Poppins", sans-serif;
          font-size: 15px;
          font-weight: 400;
          width: 10%;
        }
        h5::after {
          content: "";
          display: block;
          border-bottom: 1px solid black;
          width: 20px;
          margin: 0.4em 0;
        }
        .product-taste-selection {
          display: flex;
          justify-content: flex-start;
          margin-top: 1em;
          .product-taste-button {
            height: 78px;
            width: 75px;
            margin-right: 1.5em;
            background-color: transparent;
            border: 1px solid #d6d6d6;
            border-radius: 5px;
            transition: 0.1s ease-in-out;
            img {
              height: 30px;
              width: 30px;
              margin-top: 0.5em;
            }
            p {
              font-family: "Montserrat", sans-serif;
              font-size: 10px;
              color: #7a7a7a;
            }
          }
          .product-taste-active {
            border: 1px solid #e18318;
            outline: none;
            transition: 0.1s ease-in-out;
            p {
              color: #e18318;
            }
            img {
              filter: invert(0.5) sepia(1) saturate(4);
            }
          }
        }
      }
      .product-review-section {
        h5 {
          font-family: "Poppins", sans-serif;
          font-size: 15px;
          font-weight: 400;
          width: 30%;
        }
        h5::after {
          content: "";
          display: block;
          border-bottom: 1px solid black;
          width: 20px;
          margin: 0.4em 0;
        }
        .product-review-selection {
          display: flex;
          margin-top: 1em;
          .product-review {
            width: 35%;
            border: 1px solid #d6d6d6;
            margin-right: 1.5em;
            border-radius: 5px;
            padding: 1em 1em 0.5em 1em;
            p {
              font-family: "Montserrat", sans-serif;
              font-size: 12px;
              color: #797979;
            }
            h6 {
              font-family: "Montserrat", sans-serif;
              font-size: 13px;
              font-weight: 500;
              margin: 0.5em 0;
            }
          }
        }
      }
    }
  }
}
